# compiled python files
*.pyc

# Build folders
*egg-info*
\build
\dist

# Eclipse project files
.project
.pydevproject
.settings/

# test file
*test.py

# log folder
/logs

# Files loaded from IVAO
*whazzup.txt.gz
*whazzup_metar.txt
