# compiled python files
*.pyc

# log folder
/logs

# Eclipse project files
.project
.pydevproject
.settings/

# Files loaded from IVAO
*whazzup.txt.gz
*whazzup_metar.txt

# airport.info (created by script or user)
airports.info
airports_add.info

# other
*test.py
