# compiled python files
*.pyc

# Build folders and files
*egg-info*
/build
/dist
release*.bat
uninstall.bat
install*.bat

# Eclipse project files
.project
.pydevproject
.settings/

# test file
*test.py

# archive folder
/archive

# generated airport file
airports.info
airports_add.info

# python-metar folder
/python-metar

# log folder
*logs/

# Files loaded from IVAO
*whazzup.txt.gz
*whazzup_metar.txt
